<h1>Página de cálculo</h1>
<form action="/form" method="POST">
  <label for="capital">Capital:</label>
  <input type="number" id="capital" name="capital" placeholder="3500000"> <br>

  <label for="interest">Interés (%):</label>
  <input type="number" id="interest" name="interest" step="0.1" placeholder="3.5"> <br>

  <label for="years">Años:</label>
  <input type="number" id="years" name="years" placeholder="2"> <br>

  <input type="submit">

</form>